{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="POST">
                            <h3 class="text-center text-info">Update Student</h3>
                            <div class="form-group">
                                <label for="name" class="text-info">Name:</label><br>
                                <input type="text" name="name" id="name" class="form-control" value="{{student.name}}">
                            </div>
                            <div class="form-group">
                                <label for="address" class="text-info">Address:</label><br>
                                <input type="text" name="address" id="address" class="form-control" value="{{student.address}}">
                            </div>
                            <div class="form-group">
                                <label for="numberphone" class="text-info">Numberphone:</label><br>
                                <input type="text" name="numberphone" id="numberphone" class="form-control" value="{{student.numberphone}}">
                            </div>
                            <div class="form-group">
                                <label for="gmailaddress" class="text-info">Email:</label><br>
                                <input type="text" name="gmailaddress" id="gmailaddress" class="form-control" value="{{student.gmailaddress}}">
                            </div>
                            <div class="form-group">
                                <label for="gmailaddress" class="text-info"></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}